.item.text-center {
    border: 1px solid #dad4d487;
    padding: 20px;
    min-height: 245px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}

.item.text-center:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    animation: sonar 1s linear 0.5 infinite ease-in-out;
}

@keyframes sonar{
    0% {
        border: 1px solid green;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px green, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px green, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.text-center.search-head p{
    text-align: justify;
}

.hero-section {
    background: url(../images/hero-image.jpg) no-repeat top;
    background-size: cover;
    padding-bottom: 265px;
    padding-top: 175px;
    background-color: #000000ad;
    background-blend-mode: darken;
    background-attachment: fixed;
    position: relative;
    top: -75px;
    left: 0;
}

.bg {
    position: relative;
    top: 0;
    left: 0;
}

.header {
    background: transparent;
}

#navigation>ul>li>a {
    color: #fff;
}

.info{
    padding-top: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
}

a.logo {
    color: #ff4d4d;
    font-size: 33px;
    font-family: 'Dancing Script', cursive;
}

.vendor-img {
    max-height: 184px;
    overflow: hidden;
}

.post-img img {
    height: 170px;
}

body {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .info {
        opacity: 1;
        visibility: visible;
        display: block;
        padding: 30px;
    }

    p.text-de {
        margin: 0px;
        text-align: justify;
        padding: 0;
    }

    .circle-icon {
        height: 100px;
        width: 100px;
        font-size: 60px;
        line-height: 100px;
        padding: 0;
    }

    ul.open {
        background: #444048;
    }

    #navigation.small-screen>ul>li {
        padding-left: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .header-logo {
        padding-top: 10px;
        padding-bottom: 16px;
        text-align: center;
        background: #716a6a33;
    }
}
